.button {
  font-family: $refy-body-font;
  font-weight: bold;
  width: fit-content;
  text-transform: none;
  padding: 0 2rem;
  font-size: 1.125rem;
  line-height: 2.75rem;
  border-radius: 2rem;
  cursor: pointer;

  &-primary {
    @extend .button;
    color: white;
    background-color: $primary;
  }

  &-outline--primary {
    @extend .button;
    color: $primary;
    border: 1px solid $primary;
    background-color: $white;
  }

}