.button {
  font-family: $refy-firasans-font;
  font-weight: 500;
  width: fit-content;
  text-transform: none;
  padding: 0rem 2rem;
  line-height: 3rem;
  border-radius: 2rem;
  font-size: 1.125rem;
  &:hover {
    cursor: pointer;
  }

  &-primary {
    @extend .button;
    color: white;
    background-color: $primary;
  }

}