$primary: #FE6680;
$blue: #133273;
$grey: #434F59;
$grey-blue: #f5f6fa;

$black-100: #000000CC;
$white: #fff;

.border {

  &-primary {
    border-color: $primary;
  }

}

.bg {

  &-primary {
    background-color: $primary;
  }

  &-grey-blue {
    background-color: $grey-blue;
  }

}

.color {

  &-primary {
    color: $primary !important;
  }

  &-white {
    color: $white !important;
  }

}