@font-face {
  font-family: "Nexa";
  font-weight: normal;
  src: local("Nexa"), url("../assets/fonts/Nexa/Nexa-Regular.ttf");
}

@font-face {
  font-family: "Nexa";
  font-weight: bold;
  src: local("Nexa"), url("../assets/fonts/Nexa/Nexa-Bold.ttf");
}

$refy-font: Nexa;

:export {
  primaryColor: $refy-font
}
