.font {
  white-space: pre-line;

  &-big-title {
    @extend .font;
    font-family: $refy-nexa-font;
    font-size: 2.875rem;
    font-weight: bold;
    line-height: 3.5rem;
    color: $blue;
  }

  &-big-title--mini {
    @extend .font;
    font-family: $refy-nexa-font;
    font-size: 1.625rem;
    font-weight: bold;
    line-height: 2rem;
    color: $blue;
  }

  &-title {
    @extend .font;
    font-family: $refy-nexa-font;
    font-size: 2.25rem;
    line-height: 3rem;
    font-weight: bold;
    color: $blue;
  }
  
  &-subtitle {
    @extend .font;
    font-family: $refy-firasans-font;
    font-weight: normal;
    font-size: 1.125rem;
    line-height: 1.75rem;
    color: $black-100;
    span {
      font-weight: bold;
    }
  }

  &-text {
    @extend .font;
    font-family: $refy-firasans-font;
    font-weight: normal;
    font-size: 1.125rem;
    line-height: 2rem;
    color: $black-100;
    span {
      font-weight: bold;
    }
  }
  
  &-hint {
    @extend .font;
    font-family: $refy-firasans-font;
    font-weight: normal;
    font-size: 1rem;
    line-height: 1.5rem;
    color: $grey;
    &--small {
      @extend .font;
      font-size: 0.8rem;
    }
  }

  &-navbar {
    @extend .font;
    font-family: $refy-firasans-font;
    font-weight: bold;
    font-size: 1rem;
    line-height: 1.1875rem;
    color: $black-100;
  }

  &-button {
    &-toggle {
      @extend .font;
      font-family: $refy-firasans-font;
      font-size: 1.125rem;
      line-height: 3rem;
      font-weight: normal;
      color: $black-100;
      &-active {
        color: $white;
        font-weight: bold;
      }
    }
  }

  &-item {
    @extend .font;
    font-family: $refy-firasans-font;
    color: $black-100;
    &-big-title {
      font-family: $refy-nexa-font;
      font-size: 1.75rem;
      line-height: 2.25rem;
      font-weight: bold;
      color: $blue;
    }
    &-title {
      font-size: 1.125rem;
      line-height: 1.75rem;
      font-weight: bold;
    }
    &-text {
      font-size: 1rem;
      line-height: 1.5rem;
      span {
        font-weight: bold;
      }
    }
  }

  &-icon{
    font-size: 1rem;
  }
}